<?xml version="1.0" ?>
<settings version="1">
	<section id="plugin.video.dfb_tv">
		<category id="Youtube-KEY" label="30000" help="">
			<group id="1" label="30230">
				<setting id="pers_apiKey" type="string" label="30110" help="30350">
					<level>0</level>
					<default>AIzaSy.................................</default>
					<constraints>
						<allowempty>false</allowempty>
					</constraints>
					<control type="edit" format="string">
						<heading>30110</heading>
					</control>
				</setting>
			</group>
		</category>
		<category id="Debugging" label="30001" help="">
			<group id="1" label="30231">
				<setting id="enable_debug" type="boolean" label="30111" help="">
					<level>0</level>
					<default>false</default>
					<control type="toggle"/>
				</setting>
			</group>
		</category>
	</section>
</settings>
