<?xml version="1.0" encoding="utf-8"?>
<settings>
    <category label="Allgemein">
        <setting id="show_icons" type="bool" label="Icons anzeigen" default="true" />
        <setting id="text_size" type="enum" label="Textgroesse" values="Klein|Mittel|Gross" default="1" />
        <setting id="remember_position" type="bool" label="Letzte Position merken" default="false" />
    </category>
    <category label="Inhalt">
        <setting id="auto_sync" type="bool" label="Automatisch aktualisieren" default="false" />
        <setting id="cache_content" type="bool" label="Inhalt zwischenspeichern" default="true" />
    </category>
    <category label="Info">
        <setting id="about" type="info" label="Ueber sKulls Fusion Help" />
    </category>
</settings>