<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<category label="30000">
		<setting label="Nachrichtenauswahl" type="enum" id="Notify_Select" values="Message 0|Message 1|Message 2|Message 3|Message 4|Message 5" default="0" visible="false"/>
		<setting label="30351" type="text" id="zz_dummy_01" default="" visible="eq(-1,0)"/>
		<setting label="30352" type="text" id="zz_dummy_02" default="" visible="eq(-2,1)"/>
		<setting label="30353" type="text" id="zz_dummy_03" default="" visible="eq(-3,2)"/>
		<setting label="30354" type="text" id="zz_dummy_04" default="" visible="eq(-4,3)"/>
		<setting label="30355" type="text" id="zz_dummy_05" default="" visible="eq(-5,4)"/>
		<setting label="30356" type="text" id="zz_dummy_06" default="" visible="eq(-6,5)"/>
		<setting type="sep"/>
		<setting label="30250" type="lsep"/>
		<setting label="30110" type="text" id="username" default=""/>
		<setting label="30111" type="text" id="password" default="" option="hidden"/>
		<setting label="30357" type="text" id="zz_dummy_07" default="" visible="eq(-1,)+eq(-2,)"/>
		<setting label="30358" type="text" id="zz_dummy_08" default="" visible="eq(-2,)+eq(-3,)"/>
		<setting label="30359" type="text" id="license_ending" default="" enable="false" visible="!eq(-3,)+!eq(-4,)"/>
		<setting label="AUTH_TOKEN" type="text" id="authtoken" default="" visible="false"/>
		<setting type="sep"/>
		<setting label="30251" type="lsep"/>
		<setting label="30112" type="action" id="logout" action="RunPlugin(plugin://plugin.video.rtlgroup.de/?mode=unsubscribe)"/>
		<setting label="30113" type="bool" id="encrypt_credentials" default="true"/>
		<setting type="sep"/>
		<setting label="30252" type="lsep"/>
		<setting label="30114" type="enum" id="select_start" lvalues="30115|30116|30117" default="0"/>
		<setting label="30360" type="text" id="zz_dummy_09" default=""/>
		<setting label="LIVE-TV_FREE" type="bool" id="liveFree" default="false" visible="false"/>
		<setting label="LIVE-TV_PAY" type="bool" id="livePay" default="false" visible="false"/>
		<setting label="VOD-CO_FREE" type="bool" id="vodFree" default="false" visible="false"/>
		<setting label="VOD-CO_PAY" type="bool" id="vodPay" default="false" visible="false"/>
	</category>
	<category label="30001">
		<setting label="30253" type="lsep"/>
		<setting label="LOGIN_STATUS" type="text" id="login_status" default="0" option="int" visible="false"/>
		<setting label="VERIFIED_ACCOUNT" type="bool" id="verified_Account" default="false" visible="false"/>
		<setting label="MAXIMUM_LOGIN_TRIES" type="text" id="maximum_tries" default="0" option="int" visible="false"/>
		<setting label="30130" type="slider" id="cache_rhythm" range="4,4,72" default="4" option="int"/>
		<setting type="sep"/>
		<setting label="30254" type="lsep"/>
		<setting label="30131" type="enum" id="force_best" values="High Quality|Standard" default="0"/>
		<setting label="VIDEO_FORMAT" type="bool" id="high_definition" default="false" visible="false"/>
		<setting type="sep"/>
		<setting label="30255" type="lsep"/>
		<setting label="30132" type="select" id="prefer_content" lvalues="30133|30134" default="0"/>
		<setting label="30135" type="select" id="sorting_technique" lvalues="30136|30137" default="0" subsetting="true"/>
		<setting type="sep"/>
		<setting label="30256" type="lsep"/>
		<setting label="30138" type="bool" id="mark_movies" default="false"/>
		<setting label="30139" type="bool" id="show_date" default="true"/>
		<setting type="sep"/>
		<setting label="30257" type="lsep"/>
		<setting label="30140" type="bool" id="useSerieAsFanart" default="false"/>
	</category>
	<category label="30002">
		<setting label="30258" type="lsep"/>
		<setting label="30160" type="bool" id="verify_ssl" default="true"/>
		<setting type="sep"/>
		<setting label="30259" type="lsep"/>
		<setting label="30161" type="bool" id="checkwidevine" default="true"/>
		<setting label="START_TIME" type="text" id="last_starttime" default="" visible="false"/>
		<setting label="SERVICE_STARTWINDOW" type="bool" id="service_startWINDOW" default="true" visible="false"/>
		<setting label="SERVICE_STARTWIDEVINE" type="bool" id="service_startWIDEVINE" default="true" visible="false"/>
		<setting type="sep"/>
		<setting label="30260" type="lsep"/>
		<setting label="30162" type="bool" id="show_settings" default="true"/>
		<setting type="sep"/>
		<setting label="30261" type="lsep"/>
		<setting label="30163" type="bool" id="enableDebug" default="false"/>
	</category>
	<category label="30003">
		<setting label="30262" type="lsep"/>
		<setting label="30180" type="bool" id="tvnow_library" default="false"/>
		<setting label="30181" type="folder" id="mediapath" default="" enable="eq(-1,true)"/>
		<setting label="30182" type="bool" id="new_separation" default="false" visible="eq(-2,true)"/>
		<setting label="30183" type="slider" id="library_rhythm" range="12,4,72" default="24" option="int" enable="!eq(-2,)+eq(-3,true)"/>
		<setting type="sep"/>
		<setting label="30263" type="lsep"/>
		<setting label="30361" type="text" id="zz_dummy_10" default=""/>
		<setting label="30362" type="text" id="zz_dummy_11" default=""/>
		<setting label="30363" type="text" id="zz_dummy_12" default=""/>
	</category>
</settings>
