<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<category label="Portale">
		<setting label="Portal 1" type="lsep"/>
		<setting id="portal_name_1" type="text" label="30000" default="Portal 1----mag.diamondma.club" />
		<setting id="portal_url_1" type="text" label="30001" default="http://mag.diamondma.club:80"  />
		<setting label="30008" type="bool" id="custom_mac_1" default="true"/>
		<setting id="portal_mac_1" type="text" label="30002" default="00:1A:79:00:07:A8" visible="eq(-1,true)" />
		<setting label="30009" type="bool" id="send_serial_1" default="false"/>
		<setting label="30014" type="bool" id="custom_serial_1" default="false" visible="eq(-1,true)"/>
		<setting type="sep"/>
		<setting label="30010" type="text" id="serial_number_1" default="" visible="eq(-2,true) + eq(-3,true)"/>
		<setting label="30011" type="text" id="device_id_1" default="" visible="eq(-3,true) + eq(-4,true)"/>
		<setting label="30012" type="text" id="device_id2_1" default="" visible="eq(-4,true) + eq(-5,true)"/>
		<setting label="30013" type="text" id="signature_1" default="" visible="eq(-5,true) + eq(-6,true)"/>
		<setting label="Portal 2" type="lsep"/>
		<setting id="portal_name_2" type="text" label="30000" default="Portal 2----mag.diamondma.club" />
		<setting id="portal_url_2" type="text" label="30001" default=" http://mag.diamondma.club:80"  />
		<setting label="30008" type="bool" id="custom_mac_2" default="true"/>
		<setting id="portal_mac_2" type="text" label="30002" default="00:1A:79:70:90:7F" visible="eq(-1,true)" />	
		<setting label="30009" type="bool" id="send_serial_2" default="false"/>
		<setting label="30014" type="bool" id="custom_serial_2" default="false" visible="eq(-1,true)"/>
		<setting type="sep"/>
		<setting label="30010" type="text" id="serial_number_2" default="" visible="eq(-2,true) + eq(-3,true)"/>
		<setting label="30011" type="text" id="device_id_2" default="" visible="eq(-3,true) + eq(-4,true)"/>
		<setting label="30012" type="text" id="device_id2_2" default="" visible="eq(-4,true) + eq(-5,true)"/>
		<setting label="30013" type="text" id="signature_2" default="" visible="eq(-5,true) + eq(-6,true)"/>
		<setting label="Portal 3" type="lsep"/>
		<setting id="portal_name_3" type="text" label="30000" default="Portal 3----mag.diamondma.club" />
		<setting id="portal_url_3" type="text" label="30001" default="http://mag.diamondma.club:80"  />
		<setting label="30008" type="bool" id="custom_mac_3" default="true"/>
		<setting id="portal_mac_3" type="text" label="30002" default="00:1A:79:3A:A6:08" visible="eq(-1,true)" />
		<setting label="30009" type="bool" id="send_serial_3" default="false"/>
		<setting label="30014" type="bool" id="custom_serial_3" default="false" visible="eq(-1,true)"/>
		<setting type="sep"/>
		<setting label="30010" type="text" id="serial_number_3" default="" visible="eq(-2,true) + eq(-3,true)"/>
		<setting label="30011" type="text" id="device_id_3" default="" visible="eq(-3,true) + eq(-4,true)"/>
		<setting label="30012" type="text" id="device_id2_3" default="" visible="eq(-4,true) + eq(-5,true)"/>
		<setting label="30013" type="text" id="signature_3" default="" visible="eq(-5,true) + eq(-6,true)"/>
		<setting label="Portal 4" type="lsep"/>
		<setting id="portal_name_4" type="text" label="30000" default="Portal 4----mag.diamondma.club" />
		<setting id="portal_url_4" type="text" label="30001" default="http://mag.diamondma.club:80"  />
		<setting label="30008" type="bool" id="custom_mac_4" default="true"/>
		<setting id="portal_mac_4" type="text" label="30002" default="00:1A:79:5F:CE:67" visible="eq(-1,true)" />
		<setting label="30009" type="bool" id="send_serial_4" default="false"/>
		<setting label="30014" type="bool" id="custom_serial_4" default="false" visible="eq(-1,true)"/>
		<setting type="sep"/>
		<setting label="30010" type="text" id="serial_number_4" default="" visible="eq(-2,true) + eq(-3,true)"/>
		<setting label="30011" type="text" id="device_id_4" default="" visible="eq(-3,true) + eq(-4,true)"/>
		<setting label="30012" type="text" id="device_id2_4" default="" visible="eq(-4,true) + eq(-5,true)"/>
		<setting label="30013" type="text" id="signature_4" default="" visible="eq(-5,true) + eq(-6,true)"/>
		<setting label="Portal 5" type="lsep"/>
		<setting id="portal_name_5" type="text" label="30000" default="Portal 5----mag.diamondma.club" />
		<setting id="portal_url_5" type="text" label="30001" default="http://mag.diamondma.club:80"  />
		<setting label="30008" type="bool" id="custom_mac_5" default="true"/>
		<setting id="portal_mac_5" type="text" label="30002" default="00:1A:79:C0:D1:C3" visible="eq(-1,true)" />
		<setting label="30009" type="bool" id="send_serial_5" default="false"/>
		<setting label="30014" type="bool" id="custom_serial_5" default="false" visible="eq(-1,true)"/>
		<setting type="sep"/>
		<setting label="30010" type="text" id="serial_number_5" default="" visible="eq(-2,true) + eq(-3,true)"/>
		<setting label="30011" type="text" id="device_id_5" default="" visible="eq(-3,true) + eq(-4,true)"/>
		<setting label="30012" type="text" id="device_id2_5" default="" visible="eq(-4,true) + eq(-5,true)"/>
		<setting label="30013" type="text" id="signature_5" default="" visible="eq(-5,true) + eq(-6,true)"/>
		<setting label="Portal 6" type="lsep"/>
		<setting id="portal_name_6" type="text" label="30000" default="Portal 6----mag.diamondma.club" />
		<setting id="portal_url_6" type="text" label="30001" default="http://mag.diamondma.club:80"  />
		<setting label="30008" type="bool" id="custom_mac_6" default="true"/>
		<setting id="portal_mac_6" type="text" label="30002" default="00:1A:79:AA:DF:23" visible="eq(-1,true)" />
		<setting label="30009" type="bool" id="send_serial_6" default="false"/>
		<setting label="30014" type="bool" id="custom_serial_6" default="false" visible="eq(-1,true)"/>
		<setting type="sep"/>
		<setting label="30010" type="text" id="serial_number_6" default="" visible="eq(-2,true) + eq(-3,true)"/>
		<setting label="30011" type="text" id="device_id_6" default="" visible="eq(-3,true) + eq(-4,true)"/>
		<setting label="30012" type="text" id="device_id2_6" default="" visible="eq(-4,true) + eq(-5,true)"/>
		<setting label="30013" type="text" id="signature_6" default="" visible="eq(-5,true) + eq(-6,true)"/>
		<setting label="Portal 7" type="lsep"/>
		<setting id="portal_name_7" type="text" label="30000" default="Portal 7----mag.diamondma.club" />
		<setting id="portal_url_7" type="text" label="30001" default="http://mag.diamondma.club:80"  />
		<setting label="30008" type="bool" id="custom_mac_7" default="true"/>
		<setting id="portal_mac_7" type="text" label="30002" default="00:1A:79:A1:FB:F7" visible="eq(-1,true)" />
		<setting label="30009" type="bool" id="send_serial_7" default="false"/>
		<setting label="30014" type="bool" id="custom_serial_7" default="false" visible="eq(-1,true)"/>
		<setting type="sep"/>
		<setting label="30010" type="text" id="serial_number_7" default="" visible="eq(-2,true) + eq(-3,true)"/>
		<setting label="30011" type="text" id="device_id_7" default="" visible="eq(-3,true) + eq(-4,true)"/>
		<setting label="30012" type="text" id="device_id2_7" default="" visible="eq(-4,true) + eq(-5,true)"/>
		<setting label="30013" type="text" id="signature_7" default="" visible="eq(-5,true) + eq(-6,true)"/>
		<setting label="Portal 8" type="lsep"/>
		<setting id="portal_name_8" type="text" label="30000" default="Portal 8----mag.diamondma.club" />
		<setting id="portal_url_8" type="text" label="30001" default="http://mag.diamondma.club:80"  />
		<setting label="30008" type="bool" id="custom_mac_8" default="true"/>
		<setting id="portal_mac_8" type="text" label="30002" default="00:1A:79:B0:A9:5C" visible="eq(-1,true)" />
		<setting label="30009" type="bool" id="send_serial_8" default="false"/>
		<setting label="30014" type="bool" id="custom_serial_8" default="false" visible="eq(-1,true)"/>
		<setting type="sep"/>
		<setting label="30010" type="text" id="serial_number_8" default="" visible="eq(-2,true) + eq(-3,true)"/>
		<setting label="30011" type="text" id="device_id_8" default="" visible="eq(-3,true) + eq(-4,true)"/>
		<setting label="30012" type="text" id="device_id2_8" default="" visible="eq(-4,true) + eq(-5,true)"/>
		<setting label="30013" type="text" id="signature_8" default="" visible="eq(-5,true) + eq(-6,true)"/>
		<setting label="Portal 9" type="lsep"/>
		<setting id="portal_name_9" type="text" label="30000" default="Portal 9----mag.diamondma.club" />
		<setting id="portal_url_9" type="text" label="30001" default="http://mag.diamondma.club:80"  />
		<setting label="30008" type="bool" id="custom_mac_6" default="true"/>
		<setting id="portal_mac_9" type="text" label="30002" default="00:1A:79:D5:D1:B1" visible="eq(-1,true)" />
		<setting label="30009" type="bool" id="send_serial_9" default="false"/>
		<setting label="30014" type="bool" id="custom_serial_9" default="false" visible="eq(-1,true)"/>
		<setting type="sep"/>
		<setting label="30010" type="text" id="serial_number_9" default="" visible="eq(-2,true) + eq(-3,true)"/>
		<setting label="30011" type="text" id="device_id_9" default="" visible="eq(-3,true) + eq(-4,true)"/>
		<setting label="30012" type="text" id="device_id2_9" default="" visible="eq(-4,true) + eq(-5,true)"/>
		<setting label="30013" type="text" id="signature_9" default="" visible="eq(-5,true) + eq(-6,true)"/>
		<setting label="Portal 10" type="lsep"/>
		<setting id="portal_name_10" type="text" label="30000" default="Portal 10----mag.diamondma.club" />
		<setting id="portal_url_10" type="text" label="30001" default="http://mag.diamondma.club:80"  />
		<setting label="30008" type="bool" id="custom_mac_10" default="true"/>
		<setting id="portal_mac_10" type="text" label="30002" default="00:1A:79:D8:28:80" visible="eq(-1,true)" />
		<setting label="30009" type="bool" id="send_serial_10" default="false"/>
		<setting label="30014" type="bool" id="custom_serial_10" default="false" visible="eq(-1,true)"/>
		<setting type="sep"/>
		<setting label="30010" type="text" id="serial_number_10" default="" visible="eq(-2,true) + eq(-3,true)"/>
		<setting label="30011" type="text" id="device_id_10" default="" visible="eq(-3,true) + eq(-4,true)"/>
		<setting label="30012" type="text" id="device_id2_10" default="" visible="eq(-4,true) + eq(-5,true)"/>
		<setting label="30013" type="text" id="signature_10" default="" visible="eq(-5,true) + eq(-6,true)"/>
		<setting label="Portal 11" type="lsep"/>
		<setting id="portal_name_11" type="text" label="30000" default="Portal 11----mag.diamondma.club" />
		<setting id="portal_url_11" type="text" label="30001" default="http://mag.diamondma.club:80"  />
		<setting label="30008" type="bool" id="custom_mac_11" default="true"/>
		<setting id="portal_mac_11" type="text" label="30002" default="00:1A:79:BF:BB:A6" visible="eq(-1,true)" />
		<setting label="30009" type="bool" id="send_serial_11" default="false"/>
		<setting label="30014" type="bool" id="custom_serial_11" default="false" visible="eq(-1,true)"/>
		<setting type="sep"/>
		<setting label="30010" type="text" id="serial_number_11" default="" visible="eq(-2,true) + eq(-3,true)"/>
		<setting label="30011" type="text" id="device_id_11" default="" visible="eq(-3,true) + eq(-4,true)"/>
		<setting label="30012" type="text" id="device_id2_11" default="" visible="eq(-4,true) + eq(-5,true)"/>
		<setting label="30013" type="text" id="signature_11" default="" visible="eq(-5,true) + eq(-6,true)"/>
		<setting label="Portal 12" type="lsep"/>
		<setting id="portal_name_12" type="text" label="30000" default="Portal 12----mag.diamondma.club" />
		<setting id="portal_url_12" type="text" label="30001" default="http://mag.diamondma.club:80"  />
		<setting label="30008" type="bool" id="custom_mac_12" default="true"/>
		<setting id="portal_mac_12" type="text" label="30002" default="00:1A:79:17:10:AD" visible="eq(-1,true)" />
		<setting label="30009" type="bool" id="send_serial_12" default="false"/>
		<setting label="30014" type="bool" id="custom_serial_12" default="false" visible="eq(-1,true)"/>
		<setting type="sep"/>
		<setting label="30010" type="text" id="serial_number_12" default="" visible="eq(-2,true) + eq(-3,true)"/>
		<setting label="30011" type="text" id="device_id_12" default="" visible="eq(-3,true) + eq(-4,true)"/>
		<setting label="30012" type="text" id="device_id2_12" default="" visible="eq(-4,true) + eq(-5,true)"/>
		<setting label="30013" type="text" id="signature_12" default="" visible="eq(-5,true) + eq(-6,true)"/>
		<setting label="Portal 13" type="lsep"/>
		<setting id="portal_name_13" type="text" label="30000" default="Portal 13----mag.diamondma.club" />
		<setting id="portal_url_13" type="text" label="30001" default="http://mag.diamondma.club:80"  />
		<setting label="30008" type="bool" id="custom_mac_13" default="true"/>
		<setting id="portal_mac_13" type="text" label="30002" default="00:1A:79:C3:1E:43" visible="eq(-1,true)" />
		<setting label="30009" type="bool" id="send_serial_13" default="false"/>
		<setting label="30014" type="bool" id="custom_serial_13" default="false" visible="eq(-1,true)"/>
		<setting type="sep"/>
		<setting label="30010" type="text" id="serial_number_13" default="" visible="eq(-2,true) + eq(-3,true)"/>
		<setting label="30011" type="text" id="device_id_13" default="" visible="eq(-3,true) + eq(-4,true)"/>
		<setting label="30012" type="text" id="device_id2_13" default="" visible="eq(-4,true) + eq(-5,true)"/>
		<setting label="30013" type="text" id="signature_13" default="" visible="eq(-5,true) + eq(-6,true)"/>
		<setting label="Portal 14" type="lsep"/>
		<setting id="portal_name_14" type="text" label="30000" default="Portal 14----mag.diamondma.club" />
		<setting id="portal_url_14" type="text" label="30001" default="http://mag.diamondma.club:80"  />
		<setting label="30008" type="bool" id="custom_mac_14" default="true"/>
		<setting id="portal_mac_14" type="text" label="30002" default="00:1A:79:4B:20:76" visible="eq(-1,true)" />
		<setting label="30009" type="bool" id="send_serial_14" default="false"/>
		<setting label="30014" type="bool" id="custom_serial_14" default="false" visible="eq(-1,true)"/>
		<setting type="sep"/>
		<setting label="30010" type="text" id="serial_number_14" default="" visible="eq(-2,true) + eq(-3,true)"/>
		<setting label="30011" type="text" id="device_id_14" default="" visible="eq(-3,true) + eq(-4,true)"/>
		<setting label="30012" type="text" id="device_id2_14" default="" visible="eq(-4,true) + eq(-5,true)"/>
		<setting label="30013" type="text" id="signature_14" default="" visible="eq(-5,true) + eq(-6,true)"/>
		<setting label="Portal 15" type="lsep"/>
		<setting id="portal_name_15" type="text" label="30000" default="Portal 15----mag.diamondma.club" />
		<setting id="portal_url_15" type="text" label="30001" default="http://mag.diamondma.club:80"  />
		<setting label="30008" type="bool" id="custom_mac_15" default="true"/>
		<setting id="portal_mac_15" type="text" label="30002" default="00:1A:79:11:6F:0E" visible="eq(-1,true)" />
		<setting label="30009" type="bool" id="send_serial_15" default="false"/>
		<setting label="30014" type="bool" id="custom_serial_15" default="false" visible="eq(-1,true)"/>
		<setting type="sep"/>
		<setting label="30010" type="text" id="serial_number_15" default="" visible="eq(-2,true) + eq(-3,true)"/>
		<setting label="30011" type="text" id="device_id_15" default="" visible="eq(-3,true) + eq(-4,true)"/>
		<setting label="30012" type="text" id="device_id2_15" default="" visible="eq(-4,true) + eq(-5,true)"/>
		<setting label="Portal 16" type="lsep"/>
		<setting id="portal_name_16" type="text" label="30000" default="Portal 16----mag.diamondma.club" />
		<setting id="portal_url_16" type="text" label="30001" default="http://mag.diamondma.club:80"  />
		<setting label="30008" type="bool" id="custom_mac_16" default="true"/>
		<setting id="portal_mac_16" type="text" label="30002" default="00:1A:79:A3:87:47" visible="eq(-1,true)" />
		<setting label="30009" type="bool" id="send_serial_16" default="false"/>
		<setting label="30014" type="bool" id="custom_serial_16" default="false" visible="eq(-1,true)"/>
		<setting type="sep"/>
		<setting label="30010" type="text" id="serial_number_16" default="" visible="eq(-2,true) + eq(-3,true)"/>
		<setting label="30011" type="text" id="device_id_16" default="" visible="eq(-3,true) + eq(-4,true)"/>
		<setting label="30012" type="text" id="device_id2_16" default="" visible="eq(-4,true) + eq(-5,true)"/>
		<setting label="30013" type="text" id="signature_16" default="" visible="eq(-5,true) + eq(-6,true)"/>
		<setting label="Portal 17" type="lsep"/>
		<setting id="portal_name_17" type="text" label="30000" default="Portal 17----mag.diamondma.club"  />
		<setting id="portal_url_17" type="text" label="30001" default=" http://mag.diamondma.club:80"  />
		<setting label="30008" type="bool" id="custom_mac_17" default="true"/>
		<setting id="portal_mac_17" type="text" label="30002" default="00:1A:79:89:24:C6" visible="eq(-1,true)" />
		<setting label="30009" type="bool" id="send_serial_17" default="false"/>
		<setting label="30014" type="bool" id="custom_serial_17" default="false" visible="eq(-1,true)"/>
		<setting type="sep"/>
		<setting label="30010" type="text" id="serial_number_17" default="" visible="eq(-2,true) + eq(-3,true)"/>
		<setting label="30011" type="text" id="device_id_17" default="" visible="eq(-3,true) + eq(-4,true)"/>
		<setting label="30012" type="text" id="device_id2_17" default="" visible="eq(-4,true) + eq(-5,true)"/>
		<setting label="30013" type="text" id="signature_17" default="" visible="eq(-5,true) + eq(-6,true)"/>
		<setting label="Portal 18" type="lsep"/>
		<setting id="portal_name_18" type="text" label="30000" default="Portal 18----mag.diamondma.club"  />
		<setting id="portal_url_18" type="text" label="30001" default="http://mag.diamondma.club:80"  />
		<setting label="30008" type="bool" id="custom_mac_18" default="true"/>"  />
		<setting id="portal_mac_18" type="text" label="30002" default="00:1A:79:B6:E2:4D" visible="eq(-1,true)" />
		<setting label="30009" type="bool" id="send_serial_18" default="false"/>
		<setting label="30014" type="bool" id="custom_serial_18" default="false" visible="eq(-1,true)"/>
		<setting type="sep"/>
		<setting label="30010" type="text" id="serial_number_18" default="" visible="eq(-2,true) + eq(-3,true)"/>
		<setting label="30011" type="text" id="device_id_18" default="" visible="eq(-3,true) + eq(-4,true)"/>
		<setting label="30012" type="text" id="device_id2_18" default="" visible="eq(-4,true) + eq(-5,true)"/>
		<setting label="30013" type="text" id="signature_18" default="" visible="eq(-5,true) + eq(-6,true)"/>
		<setting label="Portal 19" type="lsep"/>
		<setting id="portal_name_19" type="text" label="30000" default="Portal 19----mag.diamondma.club:" />
		<setting id="portal_url_19" type="text" label="30001" default="http://mag.diamondma.club:80"  />
		<setting label="30008" type="bool" id="custom_mac_19" default="true"/>
		<setting id="portal_mac_19" type="text" label="30002" default="00:1A:79:D8:7F:C7" visible="eq(-1,true)" />
		<setting label="30009" type="bool" id="send_serial_19" default="false"/>
		<setting label="30014" type="bool" id="custom_serial_19" default="false" visible="eq(-1,true)"/>
		<setting type="sep"/>
		<setting label="30010" type="text" id="serial_number_19" default="" visible="eq(-2,true) + eq(-3,true)"/>
		<setting label="30011" type="text" id="device_id_19" default="" visible="eq(-3,true) + eq(-4,true)"/>
		<setting label="30012" type="text" id="device_id2_19" default="" visible="eq(-4,true) + eq(-5,true)"/>
		<setting label="30013" type="text" id="signature_19" default="" visible="eq(-5,true) + eq(-6,true)"/>
		<setting label="Portal 20" type="lsep"/>
		<setting id="portal_name_20" type="text" label="30000" default="Portal 20----mag.diamondma.club" />
		<setting id="portal_url_20" type="text" label="30001" default="http://mag.diamondma.club:80"  />
		<setting label="30008" type="bool" id="custom_mac_20" default="true"/>
		<setting id="portal_mac_20" type="text" label="30002" default="00:1A:79:C4:43:E8" visible="eq(-1,true)" />
		<setting label="30009" type="bool" id="send_serial_20" default="false"/>
		<setting label="30014" type="bool" id="custom_serial_20" default="false" visible="eq(-1,true)"/>
		<setting type="sep"/>
		<setting label="30010" type="text" id="serial_number_20" default="" visible="eq(-2,true) + eq(-3,true)"/>
		<setting label="30011" type="text" id="device_id_20" default="" visible="eq(-3,true) + eq(-4,true)"/>
		<setting label="30012" type="text" id="device_id2_20" default="" visible="eq(-4,true) + eq(-5,true)"/>
		<setting label="30013" type="text" id="signature_20" default="" visible="eq(-5,true) + eq(-6,true)"/>
		<setting label="Portal 21" type="lsep"/>
		<setting id="portal_name_21" type="text" label="30000" default="Portal 21----mag.diamondma.club" />
		<setting id="portal_url_21" type="text" label="30001" default="http://mag.diamondma.club:80"  />
		<setting id="portal_mac_21" type="text" label="30002" default="00:1A:79:C0:8A:4A" visible="eq(-1,true)" />
		<setting label="30008" type="bool" id="custom_mac_21" default="true"/>
		<setting id="portal_mac_21" type="text" label="30002" default="" visible="eq(-1,true)" />
		<setting label="30009" type="bool" id="send_serial_21" default="false"/>
		<setting label="30014" type="bool" id="custom_serial_21" default="false" visible="eq(-1,true)"/>
		<setting type="sep"/>
		<setting label="30010" type="text" id="serial_number_21" default="" visible="eq(-2,true) + eq(-3,true)"/>
		<setting label="30011" type="text" id="device_id_21" default="" visible="eq(-3,true) + eq(-4,true)"/>
		<setting label="30012" type="text" id="device_id2_21" default="" visible="eq(-4,true) + eq(-5,true)"/>
		<setting label="30013" type="text" id="signature_21" default="" visible="eq(-5,true) + eq(-6,true)"/>
	</category>
	<category label="parental">
		<setting label="30007" type="bool" id="parental" default="false"/>
		<setting label="30006" type="text" id="password" option="hidden" default="0000"/>
	</category>
	<category label="m3u Server">
		<setting label="30015" type="bool" id="server_enable" default="false"/>
		<setting label="30017" type="number" id="server_port" default="8899" visible="eq(-1,true)"/>
		<setting type="sep"/>
		<setting label="30016" type="action" visible="eq(-3,true)" action="XBMC.RunPlugin(plugin://plugin.video.stalker/?mode=server&action=start)"/>
		<setting label="30018" type="action" visible="eq(-4,true)" action="XBMC.RunPlugin(plugin://plugin.video.stalker/?mode=server&action=stop)"/>
	</category>
	<category label="stream settings">
		<setting label="30020" type="bool" id="inputstream" default="true"/>
	</category>
</settings>